page-works {

  /* item styles */
  .item-work{
    display: inline-block;
    margin-bottom: 4px;
    width: calc(50% - 2px);
    margin-right: 4px;    
  }
  .item-work:nth-of-type(2n) {
    margin-right: 0;
  }

  .item-image {
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 100%;
  }

  .item-image img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    object-fit: cover;
  }

  .list-md {
    margin: 0;
  } 
  .item-content {
    position: absolute;
    margin-top: -64px;
    width: calc(50% - 4px);
    background: rgba(0, 0, 0, 0.3);
    color: white;
  }
  .item-title{
    font-size: 1.2em;
    overflow: hidden;
  }
  .item-subtitle{
    font-size: 0.8em;
    overflow: hidden;
  }

}  
/*  ion-card.card.card-md {
      position: relative;
      overflow: hidden;
      width: 48vw;
      min-height: 48vw;
      float: left;
  }

  ion-card img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
  }
  .no-margin{
      margin: 1vw;
  }

  ion-col {
      padding: 0;
  }

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      padding: -10px;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 1.5em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 0.8em;
      position: absolute;
      top: 60%;
      width: 100%;
      color: #fff;
    }

  }*/

