<!--
  Generated template for the Works page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <header-content title="Works"></header-content>

</ion-header>


<ion-content class="card-background-page">
<!--  <ion-card *ngFor="let item of items" (click)="selectItem(item._id)">
    <img src="{{imagesPath + item._id + '-' + item.photos[0] + '.jpeg'}}" />
    <div class="card-title">{{item.title}}</div>
    <div class="card-subtitle">{{item.description}}</div>
  </ion-card>-->


  <ion-grid>
   
      <!--; #i = index (click)="selectItem(item._id)-->

      <div >
        <!-- *ngIf="{{i}} % 2 == 0"-->
        <ion-card *ngFor="let item of items">
          <img src="{{imagesPath + item._id + '-' + item.photos[0] + '.jpeg'}}" />
          <div>{{imagesPath + item._id + '-' + item.photos[0] + '.jpeg'}}</div>
          <div class="card-title">{{item.title}}</div>
          <div class="card-subtitle">{{item.description}}</div>
        </ion-card>
      </div>

<!--      <ion-col width-50>
        <ion-card>
          <img src="{{imagesPath + item._id + '-' + item.photos[0] + '.jpeg'}}">
          <div class="card-title">{{item.title}}</div>
          <div class="card-subtitle">{{item.description}}</div>
        </ion-card>
      </ion-col>-->


  </ion-grid>


  <ion-list>
    <ion-item *ngFor="let item of items" (click)="selectItem(item._id)">
      <ion-avatar item-left>
        <img src="{{imagesPath + item._id + '-' +item.photos[0] + '.jpeg'}}">
      </ion-avatar>
      <h2>{{item.title}}</h2>
      <p>{{item.description}}</p>
      <p>{{item.address}}</p>
    </ion-item>
  </ion-list>
</ion-content>