<!--
  Generated template for the Add page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <header-content title="Add"></header-content>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label stacked>Titre</ion-label>
      <ion-input type="text" [(ngModel)]="container.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-input type="text" [(ngModel)]="container.description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" [(ngModel)]="container.datePosted"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked>Address</ion-label>
      <ion-input type="text" [(ngModel)]="container.address"></ion-input>
    </ion-item>    

    <ion-item>
      <ion-label stacked>Category</ion-label>
      <ion-select [(ngModel)]="container.idCat">
        <ion-option *ngFor="#cat of categories" value="{{cat.catName}}" [checked]="cat == container.idCat">
          {{categories[cat]}}
        </ion-option>
        <ion-option value="graf" selected="true">Graffiti</ion-option>
        <ion-option value="scrup">Scrupture</ion-option>
      </ion-select>
    </ion-item>    

    <ion-item>
      <ion-label stacked>Artist</ion-label>
      <!--<ion-select *ngFor="let artist of container.artists">-->
        <ion-select [(ngModel)]="container.artists">
        <ion-option value="0" selected="true">Unknown</ion-option>
        <ion-option value="zaji">Zaji</ion-option>
      </ion-select>
    </ion-item>    

    <button ion-button icon-left color="dark" round outline right (click)="getPicture()">
      <ion-icon name='camera' is-active="false"></ion-icon>
      <span>Take picture</span>
    </button>

    <ion-fab right bottom>
      <button ion-fab color="primary" (click)="save()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>

    <ion-card>
     <img [src]="photos" *ngIf="photos" />
   </ion-card>

  </ion-list>
</ion-content>
