<!--
  Generated template for the Add page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <header-content title="Add"></header-content>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label stacked  color="secondary">Titre</ion-label>
      <ion-input type="text" placeholder="New art work" [(ngModel)]="container.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked  color="secondary">Description</ion-label>
      <ion-input type="text" placeholder="About the work" [(ngModel)]="container.description"></ion-input>
    </ion-item>

<!-- 
    <ion-item>
      <ion-label stacked>Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" [(ngModel)]="container.datePosted"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked>Address</ion-label>
      <ion-input type="text" [(ngModel)]="container.address"></ion-input>
    </ion-item>
-->
    <ion-item>
      <ion-label stacked color="secondary">Category</ion-label>
      <ion-select [(ngModel)]="container.idCat" multiple="true">
        <ion-option *ngFor="let cat of categories" value="{{cat.catName}}" selected="{{cat.catName == 'Street art'}}">
          {{cat.catName}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked color="secondary">Artist</ion-label>
      <!--<ion-select *ngFor="let artist of container.artists">-->
      <ion-select [(ngModel)]="container.artists" multiple="true">
        <ion-option *ngFor="let artist of artists" value="{{artist.name}}" selected="{{artist.name == 'Unknown'}}">
          {{artist.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <button ion-button icon-left color="dark" round outline right (click)="getPicture()">
      <ion-icon name='camera' is-active="false"></ion-icon>
      <span>Take picture</span>
    </button>

    <div class="item-image"  *ngFor="let image of base64Image" >
      <img src="{{image}}" />
    </div>

    <ion-fab right bottom>
      <button ion-fab color="primary" (click)="save()">
        <ion-icon name="paper-plane"></ion-icon>
      </button>
    </ion-fab>


  </ion-list>
</ion-content>