<!--
  Generated template for the Work page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>

  <header-content *ngIf="selectedWork.title" title={{selectedWork.title}} backEnabled={{true}} (onBack)="onClickBack()"></header-content>

<!--  <ion-navbar>
    <ion-title>
    </ion-title>
  </ion-navbar>-->

</ion-header>


<ion-content>
<!--  <ion-fab top right edge>
    <button ion-fab mini><ion-icon name="md-share"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>-->
  
  <ion-fab  middle right>
    <button ion-fab color="primary" (click)="go()"><ion-icon name="trending-up"></ion-icon></button>
  </ion-fab>
    
  <ion-card class="no-margin">
<!--    <div class="img-item">
      <img src="{{imagesPath + selectedWork._id + '-' + selectedWork.photos[0] + '.jpeg'}}" />
    </div>-->

    <ion-slides [options]="slidesOptions">
      <ion-slide class="img-item" *ngFor="let photo of selectedWork.photos" >
          <img src="{{imagesPath + selectedWork._id + '-' + photo + '.jpeg'}}" />
      </ion-slide>
    </ion-slides> 

    <ion-card-content>
<!--      <ion-card-title>
        {{selectedWork.title}}
      </ion-card-title>-->
      <p>
        {{selectedWork.description}}
      </p>
      <p>
        By {{selectedWork.artists[0]}}
      </p>
    </ion-card-content>
    
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small icon-left (click)="toggleFavorite()">
          <ion-icon name='heart-outline' *ngIf="!isFavorite"></ion-icon>
          <ion-icon name='heart' color="primary" *ngIf="isFavorite"></ion-icon>
        </button>
        <button ion-button clear small (click)="chooseShareWay()" icon-left>
          <ion-icon name="md-share"></ion-icon>
          <div class="white">share</div>
        </button>      
      </ion-col>

      <ion-col text-left>
        <button ion-button clear small icon-left>
          <ion-icon name='walk'></ion-icon>
          <div id="duration" class="white"></div> 
        </button>
      </ion-col>

    </ion-row>


  <ion-list>

    <ion-item>
      <ion-icon small name='time' item-left></ion-icon>
      Posted on {{selectedWork.datePosted | date: 'd MMMM yyyy'}}
    </ion-item>
    <ion-item>
      <ion-icon small name='pin' item-left></ion-icon>
      {{selectedWork.address}}
    </ion-item>  
    <ion-item>
      <ion-icon small name='color-palette' item-left></ion-icon>
      Painted by {{selectedWork.artists[0]}}
    </ion-item>    
  
  </ion-list>

    
    
  </ion-card>

<map1></map1>

</ion-content>