page-work {

  ion-icon{
    color: color($colors, secondary);
    display: block;
  }

  .label-md {
    font-size: smaller;
    color: color($colors, dark);
  }

  .fab ion-icon {
    color: white;
  }

  .img-item{
      height: 300px;
      width: auto;
      position: relative;
      overflow: hidden;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #imgContainer {
      height: 300px;
      width: 100%;
    }

    ion-navbar .toolbar-background {
      background: transparent;

    }
    .bar-button-default-md,
    .bar-button-clear-md-default,
    .bar-button-md-default {
      color: white;
      background-color: transparent;
    }
    ion-content .scroll-content {
      margin-top: 0px !important;
    }

    .card-content-md {
      background-color: color($colors, secondary);
    }

    .card-title-md {
      color: white;
    }
    .card-md p {
      color: white;
    }

    .no-margin{
        margin: 0;
        width: 100%;
    }

}
